<!--
<footer class="footer container py-5">
  <div class="row">

    <div class="col-12 col-md dissapear_column" id="disappearColumn">
      <div class="footer_logo_title" id="footerLogo">        
        <div class="footer_logo_text"><a href="http://semantiqa.com">Brand Aspect</a>
        </div> 
      </div> 
    </div>

    <div class="col-6 col-md">
      <h5 class="footer_title">Features</h5>
      <ul class="list_unstyled_footer">
        <li class="li_footer"><a class="text-muted-footer" href="#">Terms</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">GDPR</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Technology</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Stuff for developers</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Another one</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="footer_title">Publications</h5>
      <ul class="list_unstyled_footer">
        <li class="li_footer"><a class="text-muted-footer" href="/reviewslist/">reviews</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Reports</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">PR</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="footer_title">Resources</h5>
      <ul class="list_unstyled_footer">
        <li class="li_footer"><a class="text-muted-footer" href="#">Business</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Education</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Government</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="footer_title">About</h5>
      <ul class="list_unstyled_footer">
        <li class="li_footer"><a class="text-muted-footer" href="#">Team</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Locations</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Privacy</a></li>
        <li class="li_footer"><a class="text-muted-footer" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
-->